<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Total matches: {{stats.matches}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Total wins: {{stats.wins}}</ion-label>
      </ion-item>
      <ion-item *ngIf="gameMode==='Solo'">
        <ion-label>Top 10: {{stats.top10}}</ion-label>
      </ion-item>
      <ion-item *ngIf="gameMode==='Solo'">
        <ion-label>Top 25: {{stats.top25}}</ion-label>
      </ion-item>
      <ion-item *ngIf="gameMode==='Duo'">
        <ion-label>Top 5: {{stats.top5}}</ion-label>
      </ion-item>
      <ion-item *ngIf="gameMode==='Duo'">
        <ion-label>Top 12: {{stats.top12}}</ion-label>
      </ion-item>
      <ion-item *ngIf="gameMode==='Squad'">
        <ion-label>Top 3: {{stats.top3}}</ion-label>
      </ion-item>
      <ion-item *ngIf="gameMode==='Squad'">
        <ion-label>Top 6: {{stats.top6}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Kills: {{stats.kills}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Kills/game: {{stats.killsPerMatch}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Deaths: {{stats.deaths}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Win rate: {{stats.winRate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Minutes played: {{stats.minutesPlayed}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

