<ion-content fullscreen="true">
  <form [formGroup]="username">
    <ion-item>
      <!-- <ion-label>User: </ion-label> -->
      <!-- <input formControlName="name" placeholder="Player to search"> -->
      <ion-input label="User: " type="text" formControlName="name" placeholder="Player to search"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Platform: " formControlName="platform" multiple="false" placeholder="Select">
        <ion-select-option value="psn">PSN</ion-select-option>
        <ion-select-option value="xbl">XBOX</ion-select-option>
        <ion-select-option value="epic">Epic</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-button class="ion-margin-start" color="primary" (click)="searchPlayer(currentSegment)">Buscar</ion-button>
  </form>
  
  <ion-segment class="ion-margin-top ion-text-center" (ionChange)="onSegmentChange($event)" [value]="currentSegment">
    <ion-segment-button (click)="searchPlayer(currentSegment)" value="solo">
      <ion-label>Solo</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="searchPlayer(currentSegment)" value="duo">
      <ion-label>Duo</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="searchPlayer(currentSegment)" value="squad">
      <ion-label>Squad</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-stats *ngIf="encontrado" [stats]="currentStats" [mode]="type"></app-stats>
</ion-content>
